.dropdownSVG {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

.card {
  transition: all 1s ease;
}

.pointImageContainer {
  height: 0rem;
  width: 100%;
  transition: all 1s ease;
  overflow: hidden;
  display: flex;
}

.pointImageContainer img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}

.pointImageContainer--extended {
  height: 10rem;
}

.pointImageContainer--extended + svg {
  transition: all 1s ease;
  transform: rotateZ(180deg);
}